.header{
    display: flex;
    margin-top: 10px;
    color: white;
    justify-content: space-around;
}
body{
    margin: 0%;
    background-color: rgba(107, 172, 198, 0.744) ;
    display: flex;
    padding: 0%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
 .container{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.3);
 }

 .heading{
    font-size: 40px;
 }

 .input{
    padding: 10px 20px;
    font-size: 18px;
    background-color:rgba(255,255, 255, 0.3);
    margin: 10px;
}
.btn{
    background-color: rgba(0, 183, 255, 0.989);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0 4px rgba(0,0, 0, 0.3);
    cursor: pointer;
    size: 50px;
}
.btn:hover{
    box-shadow: 0 0 8px rgba(0,0, 0, 0.3);
    transition: 0.5s;
}
.info-text{
    font-size: 20px;
    font-weight: 500;
}